{% extends 'sod/base.html' %}
{% block body_block %}
    <div class="container">
        <h3>Добавить новый модуль</h3>
        <form action="{% url 'sod:add_module' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
{#                    <input value="" id="name" type="text" class="validate" name="name">#}
                    <label class="active" for="name">Название модуля</label>
                    {{ form.name }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
{#                    <select name="purpose">#}
{#                        <option value="" disabled selected>Что обрабатывать</option>#}
{#                        <option value="1">Текст</option>#}
{#                        <option value="2">Изображения</option>#}
{#                        <option value="3">Музыка</option>#}
{#                        <option value="3">Зашифрованные контейнеры</option>#}
{#                    </select>#}
                    {{ form.purpose }}
                    <label>Тип модуля</label>
                </div>
            </div>
            <div class="row">
                <div class="file-field input-field col s6">
                    <div class="btn blue">
                        <span>Файл</span>
                        {{ form.file }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {{ form.description }}
                    <label for="textarea1">Описание</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light blue" type="submit">Добавить
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
{% endblock %}