{% extends 'sod/base.html' %}
{% block body_block %}
    <div class="container">
        <table class="striped">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Расширение</th>
                <th>Назначение</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody>
            {% for module in modules %}
                <tr>
                    <th>{{ module.name }}</th>
                    <th>{{ module.extension }}</th>
                    <th>{{ module.purpose }}</th>
                    <th>{{ module.description }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}