{% extends 'core/base.html' %}
{% load staticfiles %}
{% load ocs_extras %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock stylesheets %}
{% block head_breadcrumb %}
    <a href="{% url 'app:index' %}" class="breadcrumb">Портал</a>
{% endblock %}
{% block left_menu_block %}
    <li><a href="{% url "app:news" %}"><i class="material-icons">view_list</i>Новости</a></li>
    <li><a href="{% url "app:documents" %}"><i class="material-icons">insert_drive_file</i>Документы</a></li>
    <li><a href="{% url "app:tasks" %}"><i class="material-icons">playlist_add_check</i>Активные задачи</a></li>
    <li><a href="{% url "app:videos" %}"><i class="material-icons">ondemand_video</i>Видеозаписи</a></li>
    <li><a href="{% url "app:statistics" %}"><i class="material-icons">insert_chart</i>Статистика</a></li>
    <li><a href="{% url "app:map" %}"><i class="material-icons">map</i>Интерактивная карта</a></li>
    <li><a href="{% url "app:center" %}"><i class="material-icons">group</i>Аналитический центр</a></li>
{% endblock %}
{% block scripts %}
{#    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>#}
    <script src="{% static 'app/js/mansory.min.js' %}"></script>
    <script src="{% static 'app/js/script.js' %}"></script>
{% endblock %}