{% extends 'core/base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'sod/css/style_sod.css' %}">
{% endblock stylesheets %}

{% block head_breadcrumb %}
    <a href="{% url 'sod:index' %}" class="breadcrumb" id="first">Система обработки данных</a>
{% endblock head_breadcrumb %}

{% block left_menu_block %}
    {% if user.is_authenticated %}
        <li><a class="waves-effect" href="{% url 'sod:add_module' %}"><i class="material-icons">add</i>Добавить
            модуль</a></li>
        <li><a class="waves-effect" href="{% url 'sod:add_files' %}"><i class="material-icons">insert_drive_file</i>Добавить
            файлы</a></li>
        {#        <li><a class="waves-effect" href="{% url 'sod:run_module' %}"><i class="material-icons">play_arrow</i>Выполнить#}
        {#            модуль</a></li>#}
        <li><a class="waves-effect" href="{% url 'sod:all_modules' %}"><i class="material-icons">view_list</i>Список
            модулей</a></li>
    {% endif %}
{% endblock left_menu_block %}

{% block scripts %}
    <script src="{% static 'sod/js/script.js' %}"></script>
    <script src="{% static 'ocs/js/script.js' %}"></script>
{% endblock scripts %}

