{% extends 'sod/base.html' %}
{% load staticfiles %}


{% block body_block %}
    <div class="container">
        {#    TODO Добавить ссылки #}
        <div class="row">
            <div class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Matlab Modules</span>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Python Modules</span>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Execution Modules</span>
                    </div>
                </div>
            </div>
{#            <div class="col s4">#}
{#                <div class="card">#}
{#                    <div class="card-content">#}
{#                        <span class="card-title activator grey-text text-darken-4">Text Modules</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col s4">#}
{#                <div class="card">#}
{#                    <div class="card-content">#}
{#                        <span class="card-title activator grey-text text-darken-4">Image Modules</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col s4">#}
{#                <div class="card">#}
{#                    <div class="card-content">#}
{#                        <span class="card-title activator grey-text text-darken-4">Music Modules</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
{% endblock %}