{% extends 'sod/base.html' %}
{% block body_block %}
    <div class="body-container">
        <h3>{{ module.name }}</h3>
        <table class="striped">
            <tbody>
            <tr>
                <th>Имя</th>
                <th>{{ module.name }}</th>
            </tr>
            <tr>
                <th>Расширение</th>
                <th>{{ module.get_extension_display }}</th>
            </tr>
            <tr>
                <th>Целевое назначение</th>
                <th>{{ module.get_purpose_display }}</th>
            </tr>
            <tr>
                <th>Описание</th>
                <th>{{ module.description }}</th>
            </tr>
            <tr>
                <th>Периодичность</th>
                <th>{{ module.periodic }} секунд</th>
            </tr>
            <tr>
                <th>Время до таймаута</th>
                <th>{{ module.timeout }} секунд</th>
            </tr>
            <tr>
                <th>Состояние</th>
                <th>{{ module.get_state_display }}</th>
            </tr>
            <tr>
                <th>Количество посланных файлов</th>
                <th>{{ module.sended_files }}</th>
            </tr>
            <tr>
                <th>Входящие модули</th>
                <th>
                    {% for input_module in module.input_modules.all %}
                        <p>{{ input_module.name }}</p>
                    {% endfor %}
                </th>
            </tr>
            <tr>
                <th>Модули вывода</th>
                <th>
                    {% for out_module in module.output_modules.all %}
                        <p>{{ out_module.name }}</p>
                    {% endfor %}
                </th>
            </tr>

            </tbody>
        </table>
        <div class="row">
            <a class="btn waves-effect red modal-trigger" href="#modal1">Очистить входящую директорию</a>
            <a class="btn waves-effect суan modal-trigger" href="#modal2">Очистить исходящую директорию</a>
        </div>
        <div class="row">
            <a class="btn waves-effect суan" href="{% url 'sod:show_dir' module.id %}">Открыть директорию
                модуля</a>
            <a class="btn waves-effect суan" href="{% url 'sod:download_output' module.id %}">Выгрузить данные</a>
        </div>
    </div>
{% endblock body_block %}

{% block modals %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Очистить входящую директорию?</h4>
            <p>Это действие нельзя отменить.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="clean_input" class="modal-action modal-close waves-effect waves-green btn red"
               onclick="clean_module_subdir({{ module.id }}, 'input')">Очистить</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Отменить</a>
        </div>
    </div>
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Очистить исходящую директорию?</h4>
            <p>Это действие нельзя отменить.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="clean_input" class="modal-action modal-close waves-effect waves-green btn red"
               onclick="clean_module_subdir({{ module.id }}, 'output')">Очистить</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Отменить</a>
        </div>
    </div>
{% endblock modals %}

