{% extends 'ocs/base.html' %}
{% load staticfiles %}

{% block breadcrumb_block %}
<a href="#!" class="breadcrumb">Личный кабинет</a>
<a href="#!" class="breadcrumb">Изменение личных данных</a>
{% endblock breadcrumb_block %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card  blue-grey lighten-4">
                <div class="card-content black-text">
                    <div class="row">
                        <form class="col s12" method="post" action=".">
                            <div class="modal-content">
                                <h4>Изменение данных</h4>
                                {% csrf_token %}
                                {{ user.as_p }}
                            </div>
                            <div class="modal-footer">
                                <button class="btn waves-effect yellow lighten-3 black-text" type="submit"
                                        name="submit">
                                    Изменить
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock body_block %}